<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partial/headercss')%>
    <link rel="stylesheet" href="/static/css/home.css" />
    <title>BookAttic</title>
  </head>
  <body>
    <%- include ('../partial/navheader')%>
    <div class="form">
      <form action="/books" method="POST">
        <div class="add-book">
          <!-----------------Form for new Book----------------------------->
          <h3>ADD BOOK</h3>
          <%- include ('../partial/bookdetailsform')%>

          <!-----------------Submit button--------------------------->
          <div class="button-container">
            <button type="submit" class="btn btn-default">
              Add Book
            </button>
          </div>
        </div>
      </form>
      <!---------------------Ends here ---------------------------->
    </div>

    <%- include ('../partial/navfooter')%>
  </body>
</html>
