<%- include ('partial/navheader')%>
<div class="add-book">
<!-----------------Form for new Book----------------------------->
<h3>ADD BOOK</h3>
<%- include ('partial/bookdetailsform')%>

<!-----------------Submit button--------------------------->
    <div class="button-container">
      <button type="button" class="btn btn-default">
        Add Book
      </button>
    </div>
  </form>
</div>
<!---------------------Ends here ---------------------------->
</div>

<%- include ('partial/navfooter')%>
