<%- include ('partial/navheader')%>
<!-----------------Form for edit Book----------------------------->
<div class="edit-form">
  
    <div class="header">
        <a href="#" class="back-icon"><i class="fas fa-arrow-left "></i></a>
        <h4>EDIT BOOK DETAIL</h4>
      <a href="#"><i class="fas fa-trash" style="float: right;"></i></a>

    </div>
<%- include ('partial/bookdetailsform')%>

<!-----------------Submit button--------------------------->
    <div class="button-container">
      <button type="button" class="btn btn-default cancel-button">
        Cancel
      </button>
      <button type="button" class="btn btn-default ">
        Save
      </button>
    </div>
  </form>
</div>
</div>
   
<!---------------------Ends here ---------------------------->
<%- include ('partial/navfooter')%>