<%- include ('partial/pagestarter.ejs')%>
<div id="page" class="col-lg-4">
<img id="logo" src="/static/images/logo.png" alt="logo" />
<form action="/" method="POST">
  <div class="elements">
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
        minlength="8"
        required
      />
    </div>
  </div>

  <div class="elements">
    <button type="submit" class="btn btn-default">
      LOGIN
    </button>
  </div>
</form>
<div class="elements">
  <p>New to BookAttic? <a href="/register">Register</a></p>
</div>
<div class="elements">
  <p>This is mini project is developed as a part of sirius summer internship</a></p>
</div>
</div>
<%- include ('partial/pagefooter.ejs')%>
      
