@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("./common.css");
body {
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: var(--home-page-font-color);
}
h2 {
  font-size: 2rem;
}
ul {
  list-style-type: none;
  font-size: 1.5vw;
  margin: 35% 5%;
  vertical-align: middle;
  padding-inline-start: 0px;
}
p {
  color: var(--home-page-font-color);
  letter-spacing: 1px;
  margin: 3.1% 10%;
}
.form {
  width: 90%;
  height: 100%;
  margin: 1% 10% 0% 10%;
  font-weight: 300;
  text-shadow: 0.2px 0.1px rgba(172, 172, 172, 0.6);
  font-size: 0.9rem;
}
.form-element {
  display: flex;
  flex-direction: column;
  margin: 1% 0%;
}
.button-container {
  padding-top: 5%;
  height: 100%;
}
.radio {
  margin-left: 4%;
  width: 3%;
}
input[type="radio"] {
  background: var(--primary-color);
}
input,
textarea {
  color: var(--home-page-font-color);
  background: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.7% 2%;
  border: 1px solid rgba(172, 172, 172, 0.6);
}
::placeholder {
  color: var(--home-page-font-color);
}
#icon {
  margin: 7%;
  padding: 2% 10%;
  background-color: var(--home-page-font-color);
  border-radius: 50%;
}

ul li {
  margin: 10% 0;
}

a {
  color: var(--home-page-font-color);
}
.card {
  background: var(--home-page-secondary-color);
  width: 85%;
  border-radius: 0.5rem;
  margin-top: 15%;
}
.btn {
  border-radius: 2rem;
  width: 30%;
  padding: 0.5rem 0.75rem;
  background-color: var(--button-color);
  margin: auto 35%;
  color: var(--home-page-font-color);
}
.btn:focus {
  box-shadow: none;
}
.card .card-img-wrap {
  width: 40%;
  height: auto;
  margin: 10% auto 0%;
}
.card-img-wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-body {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.author {
  font-size: 0.6rem;
  font-weight: 300;
}
.rating {
  font-size: 0.7rem;
  font-weight: 300;
}

.card-title {
  font-size: 0.8rem;
  height: 2.2rem;
  font-weight: 500;
}
#booksection {
  margin: 1% 4%;
}
#nonfiction {
  margin-top: 7%;
}
#navBar {
  position: fixed;
  background: var(--home-page-secondary-color);
}
#logo {
  height: auto;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
@media only screen and (min-width: 768px) {
  #logo {
    margin-top: 15%;
    width: 90%;
  }
  #navBar {
    height: -webkit-fill-available;
  }
  .col-lg-3 {
    padding: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .col-md-10 {
    margin-top: auto;
  }
  #logo {
    margin: 5% 5%;
    height: 19%;
    width: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.5rem;
  }
}

/* Book details page */

.col-md-4,
.col-md-6,
.col-md-2 {
  padding: 0%;
}
.section-wrap {
  margin: 1% 5%;
}
.contents-wrap {
  padding: 1%;
}
.contents-wrap h5,
.contents-wrap i {
  font-size: 2vw;
}
.contents-wrap .header-section {
  margin: 5% 0%;
}
.img-wrap {
  display: block;
  width: 80%;
  margin: 0% auto;
}
.img-wrap img {
  width: 100%;
  height: 100%;
  float: left;
}
.book-details-wrap {
  height: 100%;
}
.book-details-wrap h3 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 3vw;
}
.book-details-wrap .rating.outer-stars {
  display: inline-block;
  position: relative;
}

.book-details-wrap .rating.inner-stars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

/* .book-details-wrap .rating.outer-starsr::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #ccc;
}

.book-details-wrap .rating .inner-stars::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #ffffff;
} */
.book-details-wrap .rating p {
  font-weight: 300;
  font-size: 1.3vw;
  margin-bottom: 1%;
}
.book-details-wrap .author p {
  margin-left: 0%;
  margin-top: 0%;
  font-weight: 500;
  font-size: 2vw;
  color: var(--button-color);
}
.book-details-wrap .cost p {
  font-weight: 300;
  font-size: 1.8rem;
  margin: 5% 0%;
}

.book-details-wrap .button button {
  border: none;
  background-color: var(--button-color);
  color: var(--home-page-font-color);
  border-radius: 2rem;
  outline: none;
  width: 50%;
  height: 5vh;
  transition-delay: 0.4ms;
}

.book-details-wrap .button button:hover {
  width: 55%;
  height: 6vh;
}

.header-section .col-md-2 a i {
  float: right;
  font-size: 2.5vw;
}

.contents-wrap .about-book {
  margin: 0% 0% 2% 5%;
}
.contents-wrap .about-book h3 {
  font-weight: 400;
  font-size: 2vw;
  margin-bottom: 2%;
  letter-spacing: 1px;
}

.contents-wrap .about-book p {
  margin: auto 0%;
  font-weight: 300;
  font-size: 1.5vw;
}
