@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("./common.css");
body {
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: var(--home-page-font-color);
}
h2 {
  font-size: 2rem;
}
ul {
  list-style-type: none;
  font-size: 1.5vw;
  margin: 35% 5%;
  vertical-align: middle;
  padding-inline-start: 0px;
}
p {
  color: var(--home-page-font-color);
  letter-spacing: 1px;
  margin: 3.1% 10%;
}
#icon {
  margin: 7%;
  padding: 2% 10%;
  background-color: var(--home-page-font-color);
  border-radius: 50%;
}

ul li {
  margin: 10% 0;
}

a {
  color: var(--home-page-font-color);
}
.col-md-2 {
  background: var(--home-page-secondary-color);
}

.card {
  background: var(--home-page-secondary-color);
  width: 85%;
  border-radius: 0.5rem;
  margin-top: 15%;
}
.card .card-img-wrap {
  width: 40%;
  height: auto;
  margin: 10% auto 0%;
}
.card-img-wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-body {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.author {
  font-size: 0.6rem;
  font-weight: 300;
}
.rating {
  font-size: 0.7rem;
  font-weight: 300;
}

.card-title {
  font-size: 0.8rem;
  height: 2.2rem;
  font-weight: 500;
}
#booksection {
  margin: 1% 3%;
}
#nonfiction {
  margin-top: 7%;
}
#navBar {
  position: fixed;
}
#logo {
  height: auto;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
@media only screen and (min-width: 768px) {
  #logo {
    margin-top: 15%;
    width: 90%;
  }
  #navBar {
    height: -webkit-fill-available;
  }
  .col-lg-3 {
    padding: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .col-md-10 {
    margin-top: auto;
  }
  #logo {
    margin: 5% 5%;
    height: 19%;
    width: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.5rem;
  }
}
