@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("./common.css");

/* Main and common page */
body {
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: var(--home-page-font-color);
}
h2 {
  font-size: 2rem;
}
ul {
  list-style-type: none;
  font-size: 1.5vw;
  margin: 35% 10%;
  vertical-align: middle;
  padding-inline-start: 0px;
}
p {
  color: var(--home-page-font-color);
  letter-spacing: 1px;
  margin: 3.1% 10%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#profileicon {
  margin: 7%;
  padding: 2% 10%;
  background-color: var(--home-page-font-color);
  border-radius: 50%;
}

ul li {
  margin: 10% 0;
}

a {
  color: var(--home-page-font-color);
}
.card {
  background: var(--home-page-secondary-color);
  width: 90%;
  border-radius: 0.5rem;
  margin-top: 15%;
}
.container-fluid {
  padding: 0%;
}
.card .card-img-wrap {
  width: 55%;
  height: auto;
  margin: 10% auto 0%;
}
.card-img-wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-body {
  padding: 0rem;
  margin-bottom: 7%;
}
.author {
  font-size: 0.6rem;
  font-weight: 300;
}
.rating {
  font-size: 0.7rem;
  font-weight: 300;
}
.header .profile {
  margin: 2% 0% 2% 76%;
}
.row {
  margin: 0%;
}
.card-title {
  font-size: 0.8rem;
  height: 2.2rem;
  font-weight: 500;
  margin-bottom: 0%;
  margin-top: 5%;
  line-height: 1;
}
#booksection {
  margin: 1% 4%;
}
#nonfiction {
  margin-top: 7%;
}
#navBar {
  position: fixed;
  background: var(--home-page-secondary-color);
}
#logo {
  height: auto;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* Add book form */
.add-book {
  width: 90%;
  margin: 2% 5% 1%;
  padding: 0% 4%;
}
h3 {
  margin-bottom: 0%;
}
.form {
  width: 90%;
  height: auto;
  margin: 3% auto 2%;
  font-weight: 300;
  text-shadow: 0.2px 0.1px rgba(172, 172, 172, 0.6);
  font-size: 0.9rem;
}
.form-element {
  display: flex;
  flex-direction: column;
  margin: 1% 0%;
}
.add-book .button-container {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}

.radio {
  margin-left: 4%;
  width: 3%;
}
input[type="radio"] {
  background: var(--primary-color);
}
input,
textarea {
  color: var(--home-page-font-color);
  background: var(--primary-color);
  border-radius: 0.75rem;
  padding: 5px 15px;
  outline: none;
  border: 1.5px solid rgba(172, 172, 172, 0.6);
}
.btn {
  border-radius: 2rem;
  width: 30%;
  padding: 0.5rem 0.75rem;
  background-color: var(--button-color);
  /* margin: auto 35%; */
  color: var(--home-page-font-color);
}
::placeholder {
  color: var(--home-page-font-color);
}
.btn:focus {
  box-shadow: none;
}

/* Book details page */

.col-md-4,
.col-md-6,
.col-md-2 {
  padding: 0%;
}
.section-wrap {
  margin: 1% 5%;
}
.contents-wrap {
  padding: 1%;
}
.contents-wrap h5,
.contents-wrap i {
  font-size: 2vw;
}
.contents-wrap .header-section {
  margin: 5% 0%;
}
.img-wrap {
  display: block;
  width: 80%;
  margin: 0% auto;
}
.img-wrap img {
  width: 100%;
  height: 100%;
  float: left;
}
.book-details-wrap {
  height: 100%;
}
.book-details-wrap h3 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 3vw;
}
.book-details-wrap .rating.outer-stars {
  display: inline-block;
  position: relative;
}

.book-details-wrap .rating.inner-stars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

/* .book-details-wrap .rating.outer-starsr::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #ccc;
}

.book-details-wrap .rating .inner-stars::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #ffffff;
} */
.book-details-wrap .rating p {
  font-weight: 300;
  font-size: 1.3vw;
  margin: 5% 25% 1%;
}
.book-details-wrap .author p {
  margin-left: 0%;
  margin-top: 0%;
  font-weight: 500;
  font-size: 2vw;
  color: var(--button-color);
}
.book-details-wrap .cost p {
  font-weight: 300;
  font-size: 3.5vw;
  margin: 5% 0% 0%;
}

.book-details-wrap .button {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.book-details-wrap .button button {
  border: none;
  background-color: var(--button-color);
  color: var(--home-page-font-color);
  border-radius: 2rem;
  outline: none;
  width: 50%;
  height: 7vh;
  transition-delay: 0.4ms;
  align-self: center;
}

.book-details-wrap .button button:hover {
  width: 55%;
  height: 8vh;
}

.header-section .col-md-2 a i {
  float: right;
  font-size: 2.5vw;
}

.contents-wrap .about-book,
.contents-wrap .reviews-section {
  margin: 0% 0% 2% 5%;
}
.contents-wrap .about-book h3 {
  font-weight: 400;
  font-size: 2vw;
  margin-bottom: 2%;
  letter-spacing: 1px;
}

.contents-wrap .about-book p {
  margin: auto 0%;
  font-weight: 300;
  font-size: 1.5vw;
}

/* edit book's details page */
.edit-form {
  width: 90%;
  margin: 2% 3% 1%;
  padding: 0% 8%;
}
.edit-form .header {
  display: grid;
  grid-template-columns: 5% 65% 30%;
  margin-bottom: 2%;
}
.edit-form .header .fa-arrow-left {
  font-size: 2vw;
}
.edit-form .header .fa-trash {
  font-size: 2vw;
}
.edit-form .button-container {
  padding-top: 10%;
  display: flex;
  justify-content: space-evenly;
}
.edit-form .button-container .cancel-button {
  background-color: var(--home-page-secondary-color);
  border: 0.5px solid var(--home-page-font-color);
}
.edit-form .button-container button:hover {
  color: var(--home-page-font-color);
  font-weight: 900;
}
.edit-form .button-container button {
  width: 20%;
}

/*---------------Media Queries----------------------*/
@media only screen and (min-width: 768px) {
  #logo {
    margin-top: 15%;
    width: 90%;
  }

  #navBar {
    height: -webkit-fill-available;
  }
  .col-lg-3 {
    padding: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .col-md-10 {
    margin-top: auto;
  }

  #logo {
    margin: 5% 5%;
    height: 19%;
    width: 30%;
  }
}
@media only screen and (min-width: 1280px) {
  p {
    font-size: 1.5rem;
  }
  .edit-form .button-container {
    padding-top: 2%;
  }
  .add-book .button-container {
    padding-top: 2%;
  }
}
