<!-------------Title of the Book -------------------->
<div class="form-element">
  <label for="Book title">Book Title</label>
  <input type="text" name="book[title]" id="book-title" required />
</div>

<!------------- Author of the book--------------------->
<div class="form-element">
  <label for="author">Author</label>
  <input type="text" name="book[author]" id="book-author" required />
</div>

<div class="form-element">
  <label for="image">Image</label>
  <input type="text" name="book[image]" id="book-image" required />
</div>

<!-------------- category of the book ------------------>
<div class="mt-3 mb-1">
  <label for="category">Category</label>
  <input type="radio" class="radio" name="book[category]" value="fiction" />
  <label for="Fiction" class="label">Fiction</label>
  <input type="radio" class="radio" name="book[category]" value="nonfiction" />
  <label for="Non Fiction" class="label">Non Fiction</label>
</div>

<!-----------In single price and rating------------------->
<div class="row">
  <!---------- price of the book ---------------->
  <div class="form-element col-3 m-0">
    <label for="price">Price</label>
    <input type="number" name="book[cost]" id="book-cost" required />
  </div>

  <!----------- rating of the book --------------->
  <div class="form-element col-3 ml-auto mr-auto mt-0">
    <label for="rating">Rating</label>
    <input
      type="number"
      name="book[rating]"
      id="book-rating"
      min="0"
      max="5"
      step="0.5"
      required
    />
  </div>
</div>

<!----------------Description of the Book------------------->
<div class="form-element">
  <label for="about">About the Book</label>
  <textarea
    name="book[description]"
    id="book-about"
    cols="30"
    rows="5"
    required
  ></textarea>
</div>
