<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookAttic</title>

    <!--------------------------Bootstrap Style sheet----------------------------------------->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <!--------------------------Custom Style sheet----------------------------------------->
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="navBar" class="col-md-2">
          <div class="contents">
            <img id="logo" src="/static/images/logo.png" alt="logo" />
            <ul>
              <li><a href="/index" id="">HOME</a></li>
              <li><a href="/index/new" id="">ADD BOOK</a></li>
              <li><a href="/" id="">LOGOUT</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-10 ml-md-auto mt-sm-auto">
          <div class="row">
            <p class="ml-auto">Hello, Kumaresh <span id="icon"></span></p>
          </div>
          <div class="row">
