<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookAttic</title>

    <!--------------------------Bootstrap Style sheet----------------------------------------->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <!--------------------------Custom Style sheet----------------------------------------->
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <div class="container-fluid">
      <div class="row contents">
        <div class="col-lg-8">
          <img id="image" src="/static/images/section.png" alt="section" />
        </div>

    